body {
	font-family: 'Alegreya Sans', sans-serif;
	font-weight: 100;
}

a { 
	color: #00B7FF; 
}

.hideMe {
	visibility: hidden;
}

.showMe {
	display : none;
}

/* Sets the image to the full screen height, 
	and allows content to be underneath when user starts to scroll*/
header {
  height: 100vh;
}

h1, h2, h3 {
	font-family: 'Raleway', Verdana;
	font-weight: 100;
	text-align: center;
}

h3 {
	font-size: 15px;
	text-transform: uppercase;
}

hr.divider {
	margin-top: 0;
}

hr#subtitle {
	width: 60%;
}

#header-button {
	margin-top: 15px;
	border-radius: 23px;
}

/* container storing hero image */
.hero-img {
	background: url('/images/hero3.jpg') no-repeat center fixed;
	background-size: cover;
}

/* container to center the content ontop of the hero iamge*/
.center-container {
	top: 31%;
	width: 100%;
	position: absolute;
}

/* container for the text that is on top of the hero image*/
.hero-text-container {
	z-index: 2;	
	text-align: center;
}

.jumbotron {
	background-color: transparent;
}

.jumbotron h1 {
	font-size: 100px;
}

.jumbotron p {
	font-size: 18px;
	margin:0 auto;
}

/* --- navigation customization --- */
.nav-custom {
	top: 0;
	font-family: 'Raleway', Verdana;
	font-size: 14px;
	color: #000000;
	background-color: #F8F8F0;
	margin-bottom: 40px;
}

.nav-custom .navbar-nav > li {
	padding-right: 10px;
}

.navbar-right {
	margin-right: 0;
}

/* position after passing data-offset-top, keeps navigation at the top */
.affix {
  top: 0;
  width: 100%;
}


/* --- end of navigation customization ---*/


.card {
	width: 196px;
	height: 275px;
    margin-bottom: 15px;
    margin-left: 15px;
    border: solid;
    border-width: 3px;
    border-color: #F4F0E5;
    border-radius: 19px;
}

.row {

    position: relative;
    margin-top: 10px;
    margin-bottom: 15px;
}

.listings {
	list-style-type: none;
}

.listings li {
	margin-bottom: 4px;
}

/*.section {
	width: 100%;
	height: 710px;
	margin-top: 10px;
	background-color: #FFFFFF;
}
*/
.text-container {
	margin-left: 15px;
	margin-bottom: 1px;
}

